<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>My awesome shop</title>
</head>

<body>
<a href="/">Home</a> <a href="/admin/">Admin</a>

<div class="container">

<h1>My awesome shop products:</h1>
<h2>in category: {{ category.title }}</h2>

{% for product in products %}
  <div class="product">
    <h3><a href="/{{ product.category.slug }}/{{ product.asin }}/">{{ product.title }}</a></h3>
    <ul>
      <img src="{{ product.medium_image }}">
      <li>ASIN: {{ product.asin }}</li>
      <li>Price: {{ product.price }}</li>
      <li>Popularity: {{ product.popularity }}</li>
    </ul>
  </div>
  <hr>
{% endfor %}
</div>

</body>

</html>