{% extends "shop/base.html" %}

{% block title %}Amazon Django Shop{% endblock %}

{% block popular_products %}
<div class="span9 popular_products">
  <h3>Popular products in category: {{ category.title }}</h3>
  {% if category.description %}<p>{{ category.description }}</p>
  <hr />
  {% endif %}
  <ul class="thumbnails">
    {% for product in products %}
    <li class="span2">
      <div class="thumbnail">
      <a href="/{{ product.category.slug }}/{{ product.asin }}/" title="{{ product.title }}">
        <img alt="{{ product.title }}" src="{% firstof product.medium_image noimage %}" />
      </a>
      <div class="caption">
        <a href="/{{ product.category.slug }}/{{ product.asin }}/" title="{{ product.title }}">
          <h6>{{ product.title|truncatechars:20 }}</h6>
        </a>
        <span class="label label-info price">
        {% if product.price %}{{ product.price }}{% endif %}</span>
        <a class="btn btn-small" href="/{{ product.category.slug }}/{{ product.asin }}/?addtocart=1" target="_blank">Add to <i class="icon-shopping-cart"></i></a>
      </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block pagination %}
<div class="pagination" align="center">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}