<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>My awesome shop</title>
    <style>
      .container {width:70%;margin:0 auto;}
      .product {float: left; width: 200px;height: 400px;}
    </style>
</head>

<body>
<a href="/admin/">Admin</a>
<div class="container">
<ul>{% for category in categories %}
  <li><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
{% endfor %}</ul>


<h1>Popular products</h1>
{% for product in products %}
  <div class="product">
    <a href="/{{ product.category.slug }}/">{{ product.category }}</a><br>
    <a href="/{{ product.category.slug }}/{{ product.asin }}/">{{ product.title }}</a>
    <ul>
      <img src="{{ product.medium_image }}">
      <li>ASIN: {{ product.asin }}</li>
      {% if product.price %}<li>Price: {{ product.price }}</li>{% endif %}
      <li>Popularity: {{ product.popularity }}</li>
    </ul>
  </div>
{% endfor %}
</div>

</body>

</html>