<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ product.title }} | My awesome shop</title>
</head>

<body>
<a href="/admin/">Admin</a>
<div class="container">
<h1>{{ product.title }}</h1>
  <div class="product">
    <h2>{{ product.category }}</h2>
    <h3>{{ product.title }}</h3>
    <ul>
      <li>ASIN: {{ product.asin }}</li>
      <li>Description: {{ product.description|linebreaks }}</li>
      <li>Price: {{ product.price }}</li>
      <li>Popularity: {{ product.popularity }}</li>
    </ul>
  </div>
</div>

</body>

</html>