<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{% block title %}Amazon Django Shop{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

{% load static from staticfiles %}
<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
</head>

<body>

<div class="container">
<header class="row">
	<div class="span6 logo">
		<a href="{% url 'home' %}"><h1>Amazon Django Shop</h1></a>
	</div>
	<div class="span6">
		<div class="row">
			<div class="links pull-right">
				<a href="{% url 'home' %}">Home</a> |
				<a href="{% url 'admin:index' %}">Admin</a> |
				<a href="{% url 'static_page' 'about' %}">About us</a> |
				<a href="{% url 'static_page' 'contact' %}">Contact</a>
			</div>
		</div>
	</div>
</header>

<div class="row">
	<div class="span12">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="nav-collapse">
				<nav>
				  <ul class="nav">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desktops <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="#">PC</a></li>
						<li><a href="#">Mac</a></li>
						<li class="divider"></li>
						<li class="nav-header">Accessories</li>
						<li><a href="#">Keyboard</a></li>
						<li><a href="#">Speakers</a></li>
					  </ul>
					</li>
					<li><a href="#">Laptops</a></li>
					<li><a href="#">Components</a></li>
					<li><a href="#">Tablets</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Software <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="#">Business &amp; Office</a></li>
						<li><a href="#">Children's Fun &amp; Learning</a></li>
						<li><a href="#"> Digital Imaging</a></li>
						<li class="divider"></li>
						<li class="nav-header">PC Games</li>
						<li><a href="#">Action &amp; Shooter</a></li>
						<li><a href="#">Adventure</a></li>
						<li><a href="#">Fighting</a></li>
					  </ul>
					</li>
					<li><a href="#">Phones &amp; PDAs</a></li>
				  </ul>
				</nav>
				<ul class="nav pull-right">
				  	<li class="divider-vertical"></li>
					<form class="navbar-search" action="{% url 'home' %}">
						<input type="text" class="search-query span2" placeholder="Search" name="search">
						<button class="btn btn-small search_btn" type="submit">Go</button>
					</form>
				</ul>
				</div><!-- /nav-collapse -->
			</div><!-- /navbar-inner -->
		</div><!-- /navbar -->
	</div>
</div>

<div class="row"><!-- main row -->
	<div class="span3"><!-- start sidebar -->
		<ul class="breadcrumb">
			<li>Categories</li>
		</ul>
		<nav class="span3 product_list">
			<ul class="nav">
			{% block list_category %}
			{% for cat in categories %}
			<li {% if category.title == cat.title %}class="active"{% endif %}>
				<a href="{% url 'category_view' cat.slug %}">{{ cat.title|truncatechars:50 }}</a>
			</li>
			{% endfor %}
			{% endblock %}
			</ul>
		</nav>
	</div><!-- end sidebar -->

{% block popular_products %}{% endblock %}

</div><!-- /main row -->

<footer>
	{% block pagination %}{% endblock %}
	<hr />
	<div class="row well no_margin_left">
	<div class="span4">
		<h4>Information</h4>
		<ul>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Delivery Information</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms &amp; Conditions</a></li>
		</ul>
	</div>
	<div class="span4">
		<h4>Customer Service</h4>
		<ul>
			<li><a href="/page/contact/">Contact Us</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Site Map</a></li>
		</ul>
	</div>
	<div class="span3">
		<h4>Extras</h4>
		<ul>
			<li><a href="#">Brands</a></li>
			<li><a href="#">Gift Vouchers</a></li>
			<li><a href="#">Affiliates</a></li>
			<li><a href="#">Specials</a></li>
		</ul>
	</div>
	</div>
</footer>

</div> <!-- /container -->

<a href="https://github.com/evrial/AmazonDjangoShop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>

</body>
</html>